body, html, .quote, .author{ 
  -ms-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;  
}

#quote, #author, .fa{ 
  -ms-transition: color 0.8s ease 0s;
  -moz-transition: color 0.8s ease 0s;
  -o-transition: color 0.8s ease 0s;
  -webkit-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;  
}

.machineBox{
  padding:30px;
  background-color:#fff;
  margin: 50px 0 50px 0;
  border-radius:6px;
}
.quote{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size:1.3em;  
}

.autor{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
}